<footer class="footer">
  <small>
    <a href="www.linkedin.com/in/abiliojunior">Aplicativo Jovem escrito</a>
    criado por <a href="www.linkedin.com/in/abiliojunior">Abílio Costa da Silva Júnior</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   '#'  %></li>
      <li><%= link_to "Contato", '#' %></li>
      <li><a href="www.linkedin.com/in/abiliojunior">Blog</a></li>
    </ul>
  </nav>
</footer>